.Registrar {
  width: 494px;
  height: 569.55px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.titulo {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 45px;
  font-size: 36px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  color: #ffff;
  width: 494px;
  height: 614px;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputName {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  border-radius: 30px;
  width: 344px;
  height: 53px;
  padding: 0px 16px;
}
.inputNumber {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  border-radius: 30px;
  width: 344px;
  height: 53px;
  padding: 0px 16px;
}

.inputEmail {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  border-radius: 30px;
  width: 344px;
  height: 53px;
  padding: 0px 16px;
}

.inputPassword {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  border-radius: 30px;
  width: 344px;
  height: 53px;
  padding: 0px 16px;
}

.inputCreatePassword {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  border-radius: 30px;
  width: 344px;
  height: 53px;
  padding: 0px 16px;
}
