.Registrar {
  width: 494px;
  height: 569.55px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.titulo {
  position: absolute;
  line-height: 25px;
  font-size: 36px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  color: #ffff;
  width: 494px;
  height: 614px;
}

.menor {
  font-size: 20px;
}

.Link {
  background: linear-gradient(
    to right,
    rgba(225, 255, 0, 1),
    rgba(1, 245, 249, 1)
  );
  -webkit-background-clip: text;
  color: transparent;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

.inputName {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  border-radius: 30px;
  width: 344px;
  height: 53px;
  padding: 0px 16px;
  border: none;
}
.inputNumber {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  border-radius: 30px;
  width: 344px;
  height: 53px;
  padding: 0px 16px;
  border: none;
}

.inputEmail {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  border-radius: 30px;
  width: 344px;
  height: 53px;
  padding: 0px 16px;
  border: none;
}

.inputPassword {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  border-radius: 30px;
  width: 344px;
  height: 53px;
  padding: 0px 16px;
  border: none;
}

.inputCreatePassword {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  border-radius: 30px;
  width: 344px;
  height: 53px;
  padding: 0px 16px;
  border: none;
}

.createAccount {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  border-radius: 30px;
  height: 53px;
  padding: 0px 16px;
  border: none;
}
