@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Readex+Pro:wght@160..700&family=Rubik+Doodle+Shadow&family=Tilt+Warp&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");

.container-main {
  width: 100%;
  position: fixed;
  height: 63px;
  background: rgba(15, 33, 151, 1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}

.logoTitle {
  display: flex;
}

.logoTitle img {
  width: 90px;
  position: relative;
  top: 15px;
}

.logoTitle span {
  width: 127px;
  height: 11px;
  top: 40px;
  right: 20px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 11px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
  position: relative;
}

.bar-pesquisa-wrapper {
  position: relative;
}

.bar-pesquisa {
  width: 625px;
  height: 32px;
  right: 200px;
  gap: 0px;
  opacity: 0px;
  border: 1.5px solid rgba(98, 123, 135, 1);
  border-radius: 5px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(31, 56, 76, 1);
  position: relative;
}

.icone-pesquisa {
  position: absolute;
  width: 15px;
  height: 15px;

  gap: 0px;
  border: 1.5px 0px 0px 0px;
  opacity: 0.5px;
  right: 220px;
  top: 10px;
}

.perfilNot ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 50px;
}

.img-user {
  width: 40px;
}

.user-Name {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
}

.noti-User {
  position: relative;
  top: 4px;
}
