.triangle-image {
  position: absolute;
  width: 100px;
  height: 100px;
}
#image1 {
  bottom: 650px;
  width: 224px;
  height: 262px;
  opacity: 0px;
  mix-blend-mode: color-burn;
}
#image2 {
  width: 343px;
  height: 351px;
  opacity: 0.6px;
  mix-blend-mode: difference;
  position: relative;
  top: 150px;
  margin-right: 70%;
}
#image3 {
  width: 261.83px;
  height: 261.76px;
  margin-right: 150px;
  margin-top: 50px;
  opacity: 0.5px;
}

#image4 {
  width: 231px;
  height: 223px;
  gap: 0px;
  opacity: 0.5px;
  mix-blend-mode: luminosity;
}

#image5 {
  width: 624px;
  height: 190px;
  top: 303px;
  left: 650px;
  gap: 0px;
  opacity: 0px;
  font-family: Rubik Doodle Shadow;
  font-size: 200px;
  font-weight: 400;
  line-height: 237px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  mix-blend-mode: luminosity;
}
