.logo img {
  width: 326px;
  height: 336px;
  margin-top: 70px;
  margin-left: 50px;
}

.bordaLogo {
  border-radius: 50px;
  background: linear-gradient(
    160.72deg,
    rgba(1, 245, 249, 0.21) 2.04%,
    rgba(38, 0, 255, 0.21) 97.3%
  );

  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  width: 469px;
  height: 762px;
}

.title {
  width: 414px;
  height: 178px;
  margin-left: 50px;
  margin-top: -70px;
  font-family: "Readex Pro", sans-serif;
  font-size: 36px;
  line-height: 45px;
  font-weight: 400;
  color: #ffff;
  letter-spacing: 6px;
}

.pular {
  display: block;
}

.logo p {
  display: none;
}

@media (max-width: 412px) {
  .bordaLogo {
    width: 412px;
    height: 917px;
    position: relative;
    top: 180px;
    left: 265px;
    background: linear-gradient(
      179.97deg,
      rgba(0, 238, 255, 0.3) 0.03%,
      rgba(0, 143, 153, 0.3) 99.97%
    );
    border-radius: 26px;
    box-shadow: none;
  }

  .logo img {
    position: relative;
    width: 222px;
    height: 224px;
    bottom: 300px;
    left: 60px;
    gap: 0px;
    border-radius: 33px 0px 0px 0px;
    opacity: 0px;
  }

  .logo p {
    position: relative;
    bottom: 285px;
    text-align: center;
    font-family: Readex Pro;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(4px);
  }

  .title {
    height: 81px;
    left: 50px;
    opacity: 0px;
    bottom: 300px;
    position: relative;
    font-family: Readex Pro;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .pular {
    display: block;
  }
}
