.fundoPag {
  background-image: url(/src/assets/fundo\ 1.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.bordaPrincipal {
  background-color: rgba(0, 238, 255, 0.21);
  border-radius: 50px;
  width: 55%;
  height: 70vh;
  display: flex; /* Ativa o Flexbox */
  justify-content: space-between; /* Espaça as `div` */
  align-items: center; /* Alinha as `div` ao centro verticalmente */
  gap: 50%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.bordaLogo {
  border-radius: 50px;
  background-color: rgb(255, 255, 255, 0.21);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  width: 55%;
  height: 70vh;
  margin-left: 10px;
}

.logo img {
  width: 280px;

  border: 1px solid red;
  margin-top: 70px;
  margin-left: 50px;
}
